.note{
    font-size: 20px;
}
p{
    color: red;
}
.Arbaz{
    color:cadetblue;
}
*{
    font-family: 'Dancing Script', cursive;
 }
 *{
    text-align: center;
 }
 h1{
    font-size:xx-large;
 }
 .note{
    font-size: large;
 }